body {
  margin: 0;
  font-family: 'Figtree', sans-serif;
}

.container {
  max-width: 1320px;
  margin-right: auto;
  margin-left: auto;
  width: 100%;
  padding: 0 12px;
}

@media (min-width: 576px) {
  .container {
    max-width: 540px;
  }
}
@media (min-width: 768px) {
  .container {
    max-width: 720px;
  }
}
@media (min-width: 992px) {
  .container {
    max-width: 960px;
  }
}
@media (min-width: 1200px) {
  .container {
    max-width: 1140px;
  }
}

.mt-16 {
  margin-top: 16px;
}
.mt-24 {
  margin-top: 24px;
}
